.has-bg-img {
    position: relative;
    overflow: hidden;
}

img.is-back {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.button:hover {
    transform: translateY(-1px);
}